.mul-select{
    width: 300px;
}

.select2-search__field{
    width: 300px !important;
}

.task-span, .task-edit-buttons, .task-edit-button, task-delete-button{
    display: inline-block;
}
.task-edit-button{
    margin-left: 40px;
}

.task-delete-button{
    margin-left: 5px;
}

.div-task-span{
    border: gray 1px solid;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
}

#div-task-create-form{
    border: gray 1px solid;
    border-radius: 3px;
    margin: 5px;
    padding: 15px;
}


