.mul-select{
    width: 300px;
}

.select2-search__field{
    width: 300px !important;
}

.task-option, .task-edit-button{
    display: inline-block;
}
.task-edit-button{
    margin-left: 40px;
}

.task-delete-button{
    margin-left: 5px;
}
