.mul-select{
    width: 300px;
}

.select2-search__field{
    width: 300px !important;
}

.task-span, .task-edit-buttons, .task-edit-button, .task-delete-button{
    display: inline-block;
}
.task-edit-button{
    margin-left: 40px;
}

.task-delete-button{
    margin-left: 5px;
}

.div-task-span{
    border: gray 1px solid;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
}

.imp-close:hover{
    cursor: pointer;
    background-color: whitesmoke;
}
.task-marketer:hover{
    cursor: pointer;
    background-color: whitesmoke;
}

.div-edit-form, .edit-form{
    border: gray 1px solid;
    border-radius: 3px;
    margin: 5px;
    padding: 15px;
}

.implementation-li{
    margin-left: 20px;
    margin-bottom: 10px;
}

.p-close{
    margin-top: 15px;
    padding: 5px;
    text-align: center;
    width: 70px;
}

.p-close:hover{
    cursor: pointer;
    text-decoration: underline;
}

.task-filters{
    margin-top: 20px;
}

.task-filter-input{
    height: 35px;
    border-radius: 0px;
    border: 1px solid gray;
    width: 100%;
}

#div-task-marketer-filter, #div-task-retailpoint-filter, #div-task-status-filter, #div-task-date-filter{
    margin-left: -1px;
}

.form-group label{
    margin-bottom: 4px;
}

#task-date-span{
    color: #333;
}

#task-date-span:hover{
    cursor: default;
}

.nav-date-pagination{
    margin-top: -20px;
    margin-bottom: -15px;
}









